version: '3.9'

services:
  web:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0 --reload
    ports:
      - 8000:8000
    volumes:
      - .:/app
    depends_on:
      - postgres_db
    env_file:
      - .env

  postgres_db:
    image: postgres:14-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
    env_file:
      - .env

volumes:
  postgres_data: